.board {
    display: grid;
    justify-content: center;
}

.topBar {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallContainer {
    margin: 0 15px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: clamp(35px, 4vw, 60px);
    font-size: clamp(16px, 1.8vw, 30px);
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 50px;

    &:last-of-type {
        margin-left: 0px;
    }
    &:first-of-type {
        margin-left: 15px;
    }
}